
html {
  font-size: 65.5%
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetice Neue', sans-serif;
  color: #444;
  background: rgb(82, 97, 125);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  text-shadow: 0 0 3px #000, 0  5px #000 ;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

@media screen and (max-width: 566px) {
  body {
    overflow: visible;
  }
}